body {
    font-family: "Verdana", sans-serif;
}
.menu {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    margin: auto;
    padding: none;
}
.menu ul {
    list-style: none;
}
.menu li {
    display: inline;
    padding: 2px;
}
