
html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.logo {
  width: 50%;
}

.navbar {
  width: 50%;
}

.navbar ul {
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.navbar ul li {
  padding-left: 5%;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #000000;
}

.navbar ul li a:hover {
  color: #007BFF;
}

.canvas {
  background: #000000;
  border-radius: 5vb;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  height: 70%;
  margin-top: 1%;
}

.body {
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  height: auto;
  margin-top: 1%;
}

.footer {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  justify-content: center;
}

.footer a {
  padding-right: 1%;
  padding-left: 1%;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes img-hover {
  from {
    height: 50px;
    width: 50px;
  }
  to {
    height: 70px;
    width: 70px;
  }
}

@keyframes rev-img-hover {
  from {
    height: 70px;
    width: 70px;
  }
  to {
    height: 50px;
    width: 50px;
  }
}

.footer a img {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation-name: rev-img-hover;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.footer a img:hover {
  animation-name: img-hover;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}